/* estilos generales */
*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

h2{
    font-size: 2rem;
}

/* estilos header y barra de navegacion */

header{
    background: #1C0A00;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;
    display: flex;
    justify-content:flex-end;
}

.nav-link{
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}

.nav-link:hover{
    color: #9C0F48;
}

.nav-link:active{
    color: white;
}

/* estilos bienvenida */

#welcome-section{
    background: url("https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg");
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    margin: 0 -10px;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: -10px
}

.welcome-text{
    font-family: 'Oswald', sans-serif;
    color: #F5EEDC;
    margin: 0 auto; 
    text-align: center;
    text-shadow: -7px 5px 7px black;   
}

h1{
    font-size: 2.5rem;
    font-weight: bold;

}

.dev{
    margin-top: -2rem;
}

/* estilos sobre mi */
#about{
    background-image: linear-gradient(to bottom, #8e8c73, #9aa792, #abc0b4, #c3d9d6, #e0f1f4);
    height: 100vh;
    padding: 12vh 10vw 10vh 15vw;
    margin: 0 -10px; 
}

#about p{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-color: #8e8c73;
}

/*estilos habilidades*/
#skill{
    background: white;
    height: 100vh;
    padding: 7vh 5vw 5vh 5vw;
}
.skill-logo{
    font-size: 2rem;
}

.logo{
    display: flex;
    text-align: center;
}

.html{
    color: orange;
    align-items: center;

}

.css{
    color: blue;
    text-align: center;
}

.js{
    color:#FBFF00;
}

.react{
    color: #88E0EF;
}

.level{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 50px 70px repeat(5,minmax(20px, 1fr)) 70px;
    grid-template-rows: 30px;
    margin-top: 1vh;
}

.level p,
.level div{
    height: 30px;
    margin: 0;
}

.expert{
    background-color: #379237;
    grid-column: 3/8;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #225d22;
}

.semi-expert{
    background-color: #82CD47;
    grid-column: 3/7;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #379237;
}

.mid{
    background-color: #FFE15D;
    grid-column: 3/6;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 #cac3a5;
}

.novice{
        background-color: #F49D1A;
        grid-column: 3/5;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 rgb(138, 126, 126);
    }

.expert-label{
    grid-column: 8/9;
    padding-left: 1rem;
    padding-top: 3px;
}

.anothers{
    display: flex;
    justify-content: space-around
}


/*Estilos proyectos*/

#projects{
    padding-top: 2vh;
    padding: 7vh 5vw 5vh 5vw;
}

.project-container{
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.project-photo
{
    display: block;
    max-width: 300px;
    
}

.container{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-top: -100px;
}

.container a{
    text-decoration: none;
}

.container:hover{
    scale: 110%;
    background-color: #8e8c73;
}

.container a:activate{
    color: black
}

/*estilos pie de pagina*/
footer{
    background: plum;
}


/* diseño responsivo */
@media (max-width:600px) { 
    
    #navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-items: center;
        align-items: center;
        margin: 0 auto;
        font-size: 0.9rem;
    }

    h1{
        font-size: 1.8rem;
    }

    h2{
        font-size: 1rem;
    }

    .dev{
        font-size: 1rem;
    }

    #about p{
        font-size: 0.7rem;
    }

    #skill{
        height: 110vh;
    }

    .anothers{
        flex-direction:column;
        text-align: center;
    }
}


@media (max-width:800px) { 

    *{
        font-size: 0.8rem;
    }

    #about{
        padding: 5vh 3vw 2vh 3vw;
    }

    #about p{
        font-size: 1.0rem;
    }

    h2{
        font-size: 1.5rem;
    }
}