html{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #24292f;
    font-weight: 600;
}

.encabezado{
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
}

h1,
#description
{
    color: #fff;
    text-align: center;
}


form{
    margin: 0 auto; 
    max-width: 650px; 
    min-width: 300px; 
   /* width: 60vw; */
    padding: 2em
}

fieldset{
    border-radius: 5px;
    background-color: #d5d8da;
    border: 2px solid #777;
}

label{
    display: block; 
    margin: 0.5rem 0;
    }

.info{
    width: 99%;
    height: 25px;
    box-shadow: 4px 3px 4px #666;
    border-radius: 5px;
    border: 1px solid #24292f;
}

.inline{
    display: inline;
}

#submit{
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    color: #24292f;  
    background-color: #d5d8da;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit:hover{
    background-color: #1f8c11;
}

.areaTexto{
    height: 100px;
}

footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 1rem 0
}

footer p{
    font-weight: 300;
    font-size: 15px;
    margin: 0.2rem;
}

footer a{
    text-decoration: none;
}

footer a:visited{
    color: #ddd;
    
}